@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zero Hunger</title>

    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1em;
        }

        main {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        section {
            margin-bottom: 20px;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1em 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>

</head>
<body>

    <header>
        <h1>Welcome to the Zero Hunger</h1>
    </header>

    <main>
        <section>
            <h2>About Zero Hunger</h2>
            <p>
                Dedicated to eradicating hunger and ensuring access to nutritious food for all.
            </p>
        </section>

        <section>
            <h2>Get Involved</h2>
            <p>
                Join us in the fight against hunger. Whether you want to volunteer, donate, or spread awareness, every effort counts.
            </p>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Zero Hunger.</p>
    </footer>

</body>
</html>

