
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">User Login</h1>
    </div>
    @if (TempData["Msg"] != null)
    {
        <p class="alert alert-info">@TempData["Msg"]</p>
    }
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="text-center">
                        <a href="/FoodDonor/FoodDonorLogin" class="btn btn-primary btn-lg btn-block mb-3">Food Donor</a>
                        <a href="/Employee/EmployeeLogin" class="btn btn-primary btn-lg btn-block mb-3">Employee</a>
                        <a href="/Admin/AdminLogin" class="btn btn-primary btn-lg btn-block mb-3">Admin</a>
                        <div class="text-center">
                            <p class="text-center mt-3 mb-0">
                                Don't have an account?<a href="/FoodDonor/FoodDonorRegistration" class="btn btn-link">Register</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

