

@{
    ViewBag.Title = "FoodDonorIndex";
    Layout = "~/Views/Shared/_FoodDonorLayout.cshtml";
}

<h2>FoodDonorIndex</h2>
<div class="header">
    <h1 class="text-center">Food Donor Dashboard</h1>
    @if (TempData["Msg"] != null)
    {
        <p class="alert alert-info">@TempData["Msg"]</p>
    }
</div>

<div class="dashboard-container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Create Collect Request</h5>
                    <p class="card-text">To donate food create a collect request.</p>
                    <a href="/FoodDonor/FoodDonorCollectRequest" class="btn btn-primary">Collect Request</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Collect Requests</h5>
                    <p class="card-text">Manage collect requests for your donated food.</p>
                    <a href="/FoodDonor/FoodDonorRequests" class="btn btn-primary">View Requests</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Food Donations</h5>
                    <p class="card-text">View and manage your food donations.</p>
                    <a href="/FoodDonor/FoodDonorDonationHistory" class="btn btn-primary">View Donations</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Profile</h5>
                    <p class="card-text">Update your Food Donor profile information.</p>
                    <a href="/FoodDonor/FoodDonorEditProfile" class="btn btn-primary">Edit Profile</a>
                </div>
            </div>
        </div>

    </div>
</div>




